header {
    background-color: rgb(203, 231, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    
}
nav {
    background-color:lightblue;
}
li {
    display: inline-block;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    padding: 5px;
}

.mb-4 {
    padding-left: 50px;
    padding-right: 50px;
}