h1 {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 30px;
}

#container0, #container1, #container2 {
    background-color: lavender
}

.main-header, header {
    font-size: xx-large;
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    
}

.portfolioheader, .contact-header{
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 20px;
} 
    
.contact-header {
    text-align: center;
    padding: 20px;

}

nav {
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar-brand {
background-color: darkgrey;
}

li {
    display: inline-block;
    margin-top: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
    text-align: center;
    padding: 5px;
}

.profilepic {

    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mb-4 {
    padding-left: 50px;
    padding-right: 50px;
}

.carouselslide {
    padding: 30px;
    margin-top: 30px;

}

.row {
    padding-top: 5px;
}

.description {
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    font-family: 'Noto Sans JP', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
}

.fa-facebook {
    opacity: 7;
    width: 40px;
    height: 40px;
    font-size: 40px;
} 
.fa-linkedin {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 40px;
}

.footernav {
    background-color: white;
}

.socialmedia {
    height:50px;
    border: none;
    background-color: white;
}

/* css for button icons on project page */
.container {
    position: relative;
    width: 75%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }

/*Extra small devices (smartphones, <600px)*/  

@media only screen and (max-width: 600px) {…}  


/*Small devices (large smartphones and portrait tablets >= 600px)*/  

@media only screen and (min-width: 600px) {…}  


/*Medium devices (landscape tablets >= 768px)*/  

@media only screen and (min-width: 768px) {…}  


/*Large devices (laptops and desktops, >=600px)*/  

@media only screen and (min-width: 992px) {…} 


/*Extra Large devices (laptops and desktops <600px)*/  

@media only screen and (min-width: 1200px) {…}